* {
  font-family: "Comic Sans MS", Arial, Verdana, sans-serif; 
}


/* Add a hover effect on icon*/
.fa:hover {
  opacity: 0.7;
}

/* specific color for each social network */

/* Facebook */
.fa-facebook-square {
  background: white;
  color: #3B5998;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
/* Twitter */
.fa-twitter-square {
  background: white;
  color: #55ACEE;
  font-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.fa-linkedin {
  background: white;
  color: #007bb5;
  font-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
.fa-instagram-square {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,
  #d6249f 60%,#285AEB 90%);
}

.logo {
  width: 18rem
}

nav,.container-fluid {
justify-content: space-between;
}

.collapse{
justify-content: flex-end;
}

.bannieres{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: center;
background-image:url(https://picsum.photos/id/1041/300/200);
background-repeat: no-repeat;
background-size: 100% 200px;
height: 200px;
color: white;
}

.rejoin-button, .donations-button{
  margin: 4px 50px 4px;
}

.rejoin-button, .donations-button, .contact-button, .actions-button, .agenda-button {
  padding: 15px 40px;
  border: 0;
  border-radius: 20px;
  background: #00a2ff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.rejoin-button, .donations-button, .contact-button, .actions-button, .agenda-button{
  transition: transform 0.1s linear 0.1s;
}

.rejoin-button:hover, .donations-button:hover, .contact-button:hover, .actions-button:hover, 
.agenda-button:hover{
transform : scale(1.1, 1.1);
}

article{
  display:flex;
  flex-direction: column;
}

.card{
  margin: 10px;
}

