* {
  font-family: "Comic Sans MS", Arial, Verdana, sans-serif; 
}

body{
  max-width: 1200px ;
}


/* Add a hover effect on icon*/
.fa:hover {
  opacity: 0.7;
}

/*social network */
/* Facebook */
.fa-facebook-square {
  background: white;
  color: #3B5998;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
}
/* Twitter */
.fa-twitter-square {
  background: white;
  color: #55ACEE;
  font-size: 30px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.fa-linkedin {
  background: white;
  color: #007bb5;
  font-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.fa-instagram-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,
  #d6249f 60%,#285AEB 90%);
}

.logo {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
text-align: center;
width: auto;
background: #fff;
padding: 10px;
}

.collapse{
justify-content: flex-end;
}

.navbar, .navbar-brand{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1.8rem ;
}

.bannieres{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
text-align: center;
background-image:url(pictures/header.jpg);
background-repeat: no-repeat;
background-size: 100% 200px;
height: 200px;
color: white;
flex-wrap: nowrap;
padding-top: 10px;
}

.rejoin-button, .donations-button{
  margin: 4px 50px 4px;
}

.rejoin-button, .donations-button, .contact-button, .actions-button {
  padding: 5px 20px;
  margin: 20px 50px;
  border: 0;
  border-radius: 20px;
  background: rgb(2, 47, 99);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.agenda-button{

  border: 0;
  border-radius: 20px;
  background: rgb(2, 47, 99);
  color: #fff;
  font-weight: 600;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin-left:0;
  padding-left:0;
}


.rejoin-button, .donations-button, .contact-button, .actions-button, .agenda-button{
  transition: transform 0.1s linear 0.1s;
}

.rejoin-button:hover, .donations-button:hover, .contact-button:hover, .actions-button:hover, 
.agenda-button:hover{
transform : scale(1.1, 1.1);
}

.teamPic{
  object-fit: cover;
  width: 400px;
  height: auto;
  }

.card{
    display: flex;
    margin: 10px 5px;
    background: rgb(85, 159, 245);
    border-radius: 1em;
    justify-content: center;
  }

p{
  padding: 15px;
}
h2{
  margin: 10px;
}

h6{
  font-size: 1.5rem;
  padding-left: 15px;
}

img {
	max-width: 100%;
	height: auto;
  margin: auto ;
}

body {
  background-image:url(pictures/body.jpg);
  }

nav{
  color:#559ff5;

}
.fishAnimation{
  animation: 3s ease-in 0.5s infinite alternate gogogo;
  margin-right: 15px;
  width: 35px;
  height:35px;
  border-radius: 50%;
  background-image: url(pictures/fish.jpg);
  background-size: 100%;
}
  
@keyframes gogogo{
  0% {
    width: 35px;
    height:35px;}
  100% { 
  transform: translateX(85%);}
}

footer{
  display: flex;
  justify-content: center;
  background:rgb(2, 47, 99) ;
  color: #fff;
  width: auto;
  padding-top: 10px;
}
.footerContents{
  display: flex;
  flex-direction: row;
}

.socialList li{
  display: inline;
}

.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i{
  margin: 5px;
}

a{
  margin: 5px;
}

h3{
  font-size: 5rem;
}

.evenement{
  font-size: 20px;
  font-weight:bold;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td,
.table>thead>tr>th{
  vertical-align: middle;
  align-content: space-around;
}
.modal-dialog {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table{
  flex-wrap: nowrap;
}