* {
  font-family: "Comic Sans MS", Arial, Verdana, sans-serif;
}

section.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 0;
}

.card h5 {
  font-size: 20px;
}

/* Add a hover effect on icon */
.fa:hover {
  opacity: 0.7;
}

/* social network */

/* Facebook */
.fa-facebook-square {
  background: white;
  color: #3b5998;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.fa-instagram-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: auto;
  background: #fff;
  padding: 10px;
}

nav {
  color: #559ff5;
}

.navbar-light .navbar-nav .nav-link {
  color: #559ff5;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #0d417e;
}

.collapse {
  justify-content: flex-end;
}

.navbar,
.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  border-radius: 0;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-nav > li > a {
  line-height: 3px;
  color: #fff;
}

.bannieres {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url(pictures/header.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  height: 200px;
  color: white;
  flex-wrap: nowrap;
  padding-top: 10px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #0d417e;
}

.rejoin-button,
.donations-button {
  margin: 4px 50px 4px;
}

.rejoin-button,
.donations-button,
.contact-button,
.actions-button {
  padding: 5px 20px;
  margin: 20px 50px;
  border: 0;
  border-radius: 20px;
  background: rgb(2, 47, 99);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.agenda-button {
  border: 0;
  border-radius: 20px;
  background: rgb(2, 47, 99);
  color: #fff;
  font-weight: 600;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button {
  padding: 5px 20px;
  margin: 20px 20px;
  border: 0;
  border-radius: 20px;
  background: rgb(2, 47, 99);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  display: inline;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rejoin-button,
.donations-button,
.contact-button,
.actions-button,
.agenda-button {
  transition: transform 0.1s linear 0.1s;
}

.rejoin-button:hover,
.donations-button:hover,
.contact-button:hover,
.actions-button:hover,
.agenda-button:hover {
  transform: scale(1.1, 1.1);
}

.actions-button:hover {
  color: #fff;
  text-decoration: none;
}

.card {
  display: flex;
  margin: 10px 5px;
  background: rgb(85, 159, 245);
  border-radius: 1em;
  justify-content: center;
  font-size: 1.5rem;
}

p {
  padding: 15px;
}

h2 {
  margin: 10px;
}

h6 {
  font-size: 1.5rem;
  padding-left: 15px;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 1em;
}

body {
  background-image: url(pictures/body.jpg);
}

.fishAnimation {
  animation: 3s ease-in 0.5s infinite alternate gogogo;
  margin-right: 30px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url(pictures/fish.jpg);
  background-size: 100%;
}

@keyframes gogogo {
  0% {
    width: 35px;
    height: 35px;
  }

  100% {
    transform: translateX(85%);
  }
}

footer {
  display: flex;
  background: rgb(2, 47, 99);
  color: #fff;
  width: auto;
  padding-top: 10px;
}

.footerContents {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footerContents > div {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .footerContents {
    font-size: 5px;
  }
}

.socialList > li {
  display: inline;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i {
  margin: 5px;
}

h3 {
  font-size: 5rem;
}

.evenement {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > th > a,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
  align-content: space-around;
}

.modal-dialog {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  flex-wrap: nowrap;
}

.summary {
  align-items: flex-start;
}

.partnerSite {
  align-items: center;
}

.socialFooterList {
  align-items: flex-end;
}
